# Copyright (c) 2026 Fabien Georget
# SPDX-License-Identifier: Apache-2.0
#
menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Calobus"

config HEARTBEAT_MSEC
    int "Measurement heartbeat in msec"
    default 100
    help
        The default measurement period

config OVERSAMPLING
    int "Number of samples to average"
    default 10
    help
        The number of samples to average

config HEALTHCHECK_BEAT_SECONDS
    int "Health Check period in seconds"
    default 60
    help
        The default health check period

config SDLOGGING
    bool "Enable SDlogging"
    default y
    help
        If true, enable SD logging

endmenu

#rsource "drivers/Kconfig"

